<a href="https://colab.research.google.com/github/SaenkoDenis/machine-learning-py/blob/main/data-analysis/rabota_c_datetime_b_pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Этот нотбук для статьи в блоге [Работа с datetime в Pandas DataFrame](http://i922161r.beget.tech/2021/05/23/rabota-c-datetime-b-pandas-dataframe/)

In [1]:
import pandas as pd
import numpy as np

## 1. Преобразование строк в datetime

In [2]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

## 2. Соберите дату и время из нескольких столбцов

## 3. Получить год, месяц и день

## 4. Получите неделю года, день недели и високосный год

## 5. Получить возраст с даты рождения

## 6. Повышение производительности за счет установки столбца даты в качестве индекса

## 7. Выберите данные за определенный год и выполните агрегирование

# 8. Выберите данные с определенным месяцем и определенным днем месяца

## 9. Выберите данные между двумя датами

## 10. Обработка отсутствующих значений